<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AvessoDaLeituraTeste"
        tools:targetApi="31">
        <activity
            android:name=".fragments.OpiniaoActivity2"
            android:exported="false" />
        <activity
            android:name=".fragments.RepercussaoActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.LinhaDoTempo2Activity"
            android:exported="false" />
        <activity
            android:name=".fragments.LinhaDoTempoActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.TrechosActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.PersonagensActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.CapaActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.OpiniaoActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.AutorActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.SinopseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>